.game-data {
    color: #ee0979;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 0 1em;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

.modal-footer {
    text-align: center;
}

.player-option {
    cursor: pointer;
}

.player-selected {
    background-color: #ee0979;
}

#game-over-img {
    max-width: 400px;
}

.sides span {
    margin-right: 10px;
}

.axis span {
    margin-right: 10px;
}

.others i {
    margin-right: 30px;
}

.others span {
    font-weight: bold;
}

.sides i,
.axis i,
.others i {
    color: #ee0979;
}

#points {
    font-size: 45px;
}